body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
    background-image: url('Wallpaper.jpg');
    background-size: cover;
    background-position: center;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 10px #fff;
    }
    100% {
      box-shadow: 0 0 20px 10px #fff;
    }
  }
  